#wrapper{
    display:grid;
    grid-template-areas: 
    'hd hd'
    'mn nv'
    'ft ft'
}

.wrapper{
    grid-area: mn;
}

.deskmenu{
    grid-area: nv;
    display:flex
}

body,ul{
    margin: 0;
}

.menu{
    height: 100vh;
    width: 80vw;
    background: #d4af37;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

@media screen and (max-width: 700px){
    body{
        background-color: #004c6d;
        color: #fff8dc;
    }
    .deskmenu{
        display: none;
    }
    .menu-button{
        display:flex
    }
    .menu{
        display:flex
    }
    
}

@media screen and (min-width: 701px){
    
    body{
        background-color: red;
        color: aqua;
    }
    .deskmenu{
        display: flex;
    }
    .menu-button{
        display:none
    }
    
    .menu{
        display:none
    }
    
}